{{- $anthropic_api_key_aider := promptStringOnce . "anthropic_api_key_aider" "anthropic_api_key_aider" -}}
{{- $deepseek_api_key_aider := promptStringOnce . "deepseek_api_key_aider" "deepseek_api_key_aider" -}}

encryption = "gpg"
[gpg]
  symmetric = true

[data]
  anthropic_api_key_aider = {{ $anthropic_api_key_aider | quote }}
  deepseek_api_key_aider = {{ $deepseek_api_key_aider | quote }}

# materializes in ~/.config/chezmoi/chezmoi.toml, chmod 0600

