#!/bin/bash

{{ if .packages.darwin.curl_installs -}}
# Install packages that use curl installation scripts
{{ range $name, $install := .packages.darwin.curl_installs -}}
echo "Installing {{ $name }}..."
curl -LsSf {{ $install.url | quote }} | sh
{{ end -}}
{{ end -}}
